{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='client/styles/join.css')}}">
{% endblock %}
{% block content %}
<h1>join chat</h1>
<div id="app">
  <div id="join">
    <form method="POST">
      <div>
        <label>
          username
        </label>
        <input type="text"
               placeholder="enter username"
               name="username"
               autocomplete="off"/>
      </div>
      <button>submit</button>
    </form>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
