<p> {{ guest_name }} is at the door.</p>
<form action="" method="post">
	<button name="action_type" type="submit" value="exit">Leave</button>
	<button name="action_type" type="submit" value="open">Open Door</button>
</form>
