
<!-- todo: edit base template to include script block -->
<script data-main="assets/js/main-room" src="assets/bower_components/requirejs/require.js" type="text/javascript" charset="utf-8"></script>


<div id="chat-area">
  <p id="messages"><!--Messages go here --></p>
  <input id="new-message" type="text" name="message"></input>
</div>
<form action="" method="post">
  <button name="action_type" type="submit" value="stop">End chat</button>
</form>
